extends layout

block content
	h1.
		User List
	ul
		each user, i in userlist
			li
				a(href="mailto:#{user.email}") #{user.username } 
				
				a(href="/deleteuser?name=#{user.username}") DELETE
				
				a(href="/updateuser?name=#{user.username}") UPDATE