extends layout

block content
	h1.
			User List
	ul
			each user, i in userlist
				li
					a(href="mailto:#{user.email}")= user.username
					form#formAddUser(name="updateuser",method="post",action="/updateuser")
						input#inputUserName(type="hidden", placeholder="username", name="username", value = '#{user.username}')
						input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
						button#btnSubmit(type="submit") update